body {
  background-color: #eee;
  margin: 10px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 200;
}

h2 {
  margin-top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

h3 {
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

p {
  font-family: 'News Cycle', times;
  font-size: 16px;
}

/* HEADER */

h1 span.prefix {
  display: block;
  color: #888;
  font-size: 16px;
}

h1 span.name {
  padding-left: 8px;
}

h1#class span.name:after {
  content: 'Class';
  color: red;
}

h1#namespace span.name:after {
  content: 'Namespace';
  color: blue;
}

/* SOURCE FIELD */

h2#source {
  color: purple;
  float: left;
  margin-right: 5px;
}

h2#source:after {
  content: ':'
}

h2#source + p.source {
  display:block;
  padding-top: 16px;
}

p.source + * {
  clear: both;
}

/* NAMESPACES SECTION */

h2#namespaces {
  color: blue;
}

/* CLASSES SECTION */

h2#classes {
  color: red;
}

/* FUNCTIONS SECTION */

h2#functions {
  color: green;
}

h2 + ul {
  margin-top: 10px;
  margin-left: 10px;
}

ul.functions > li {
  border-bottom: 1px solid #aaa;
  //border: 1px solid #888;
  //border-radius: 5px;
  margin-top: 11px;
  padding: 5px;
  background-color: #eee;
  //box-shadow: 0px 0px 3px 0px #888;
  padding-bottom: 20px;
}

ul.functions > li:last-child {
  border-bottom: none;
}

ul.functions > li > h3 {
  margin-top: 10px;
}

h3.name_header {
  display:none;
}

li.function p.name {
  color: green;
  font-size: 18px;
}

ul.functions > li > h3.description_header {
  display: none;
}

ul.functions > li > p.description {
  margin-top: 17px;
}

ul.functions > li > h3.parameters_header {
  margin-top: 17px;
  color: purple;
}

ul.parameters {
  margin-top: 5px;
  margin-left: 10px;
}

ul.parameters > li {
  margin-top: 5px;
}
