body {
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

h2#classes {
  color: red;
}

h2#namespaces {
  color: blue;
}

h2#functions {
  color: green;
}
