%li.function
  %h3.name_header
    Name
  %p.name
    #{function.name}
  %h3.description_header
    Description
  %p.description
    #{function.comment}
  %h3.parameters_header
    Parameters
  - if function.parameters.empty?
    %p.no_parameters
      None
  %ul.parameters
    - function.parameters.each do |parameter|
      %li.parameter
        %h3.name_header
          Name
        %p.name
          #{parameter.name}
        %h3.type_header
          Type
        %p.type
          int
        %h3.description_header
          Description
        %p.description
          Meh
        %h3.default
          Default
        %p.default
          default
