%h1#root
  #{prefix} API Documentation

- unless namespaces.empty?
  %h2#namespaces
    Namespaces
  %ul.namespaces
    - namespaces.each do |namespace|
      = haml "_namespace", {:layout => false,
                            :locals => {:namespace => namespace}}

- unless classes.empty?
  %h2#classes
    Classes
  %ul.classes
    - classes.each do |klass|
      = haml "_class", {:layout => false,
                        :locals => {:klass => klass }}

- unless functions.empty?
  %h2#functions
    Methods
  %ul.functions
    - functions.each do |function|
      = haml "_function", {:layout => false,
                           :locals => {:function => function}}
